*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background : linear-gradient(90deg, rgb(246, 255, 246) 0%, rgb(230, 244, 236) 16.667%, rgb(245, 236, 230) 33.333%, rgb(253, 233, 229) 50%, rgb(235, 233, 231) 66.667%, rgb(235, 238, 238) 83.333%, rgb(254, 246, 249) 100%);
}

.navContainer{
    width: 100vw;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
}

#navList{
    list-style: none;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    color: azure;
}

#navItems{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: azure;
}

.footerBox{
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 100%;
    text-align: center;
    min-height: 30px;
}

.footerBox p{
    color: azure;
    font-size: 23px;
}

.contentBox{
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px;
    box-shadow: 3px 3px 30px black;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox img{
    transition: all 0.6s linear 0s;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
    
}

.rightBox{
    position: relative;
    overflow: visible;
    transition: transform 0.4s ease;
  
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.4rem;
    margin: 20px;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 108, 108, 0.77);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem
}

.recipeBox{
    font-size: 1.2rem;
    margin: 20px;
}